.chatLayout {
    --scrollbarBG: transparent;
    --thumbBG: #E2E3E3;
  }
  
  .chatLayout::-webkit-scrollbar {
    width: 8px;
  }
  
  .chatLayout::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  
  .chatLayout::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 10px;
  }
  
  .chatLayout::-webkit-scrollbar-thumb:hover {
    background-color: #E2E3E3;
  }